@model Signar.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="input-form">
        @Html.ValidationSummary("", new { @class = "text-danger " })
        <h5 class="white" id="fgtPswrdText">If you can't acces Asignar, fill in this form and an email will be
            <p>sent to you with the details to access your account again.</p></h5>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control backColor", placeholder="Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" class="btn btn-default fgtPswdSubmit" value="Submit" @Url.Action("ResetPassword", "Account")/>
            </div>
        </div>
        @Html.ActionLink("Login", "Login", "Account", htmlAttributes: new { @class = "color2 LoginLink" })
    </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
